@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: #ffffff;
	background: #282c33;
	width: 1280px;
	margin: auto;
	font-size: 16px;
	font-weight: 500;
	font-style: normal;
	line-height: normal;
	transition-delay: 1s; /* delays for 1 second */
	-webkit-transition-delay: 1s; /* for Safari & Chrome */
}
