.first {
	margin-top: 62px;
	.group-1 {
		padding-top: 74px;
		.title {
			font-size: 32px;
			font-weight: 600;
		}
		.description {
			font-weight: 400;
			line-height: 25px;
		}
	}
	.current-work {
		width: 402px;
	}
}
.quote {
	.name {
		right: -1px;
		top: 85px;
		& + .quote-mark {
			bottom: -14px;
			right: 12px;
		}
	}
}
.projects {
	margin-top: 137px;
	h2 {
		width: 701px;
	}
}
.skills {
	margin-top: 106px;
	h2 {
		width: 701px;
	}
}
.about-me {
	margin-top: 112px;
	h2 {
		width: 701px;
	}
}
.contacts {
	margin-top: 112px;
	h2 {
		width: 701px;
	}
}